@charset "UTF-8";
/*
 * --------------------------------------------------------------------
 * 기본
 * --------------------------------------------------------------------
 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://webfontworld.github.io/yangheeryu/GowunBatang.css");
/*
 * --------------------------------------------------------------------
 * mixin
 * --------------------------------------------------------------------
 */
/* text-ellipsis (말줄임..)  */
/* @param : $line ( 기본값 1 줄 ) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
fieldset,
legend,
figure,
menu,
tr,
td,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
div,
table,
tr,
td {
  font-size: 16px;
  color: #7d7d7d;
  font-family: "Pretendard", "Noto Sans KR";
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border-radius: 0;
  color: #222;
  font-size: 21px;
  outline: 0;
  vertical-align: middle;
}

caption {
  text-indent: -999999px;
  display: none;
}

legend {
  text-indent: -999999px;
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

table,
th,
td {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  border: 0;
  vertical-align: middle;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.cell {
  float: left;
}

body {
  font-family: "Pretendard", Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  overflow-x: hidden;
}

.mobile {
  display: none;
}

/*
 * --------------------------------------------------------------------
 * 상단 네비
 * --------------------------------------------------------------------
 */
header .container {
  padding: 0 24px;
  height: 80px;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .gnb {
  position: relative;
}
header .container .gnb ul {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
header .container .gnb ul li {
  text-align: center;
}
header .container .gnb ul li a {
  font-size: 15px;
  font-weight: 600;
  display: block;
  position: relative;
}
header .container .gnb ul li a::after {
  position: absolute;
  width: 0%;
  height: 2px;
  content: "";
  background-color: #18864a;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
}
@media (hover: hover) {
  header .container .gnb ul li a:hover {
    color: #18864a;
  }
  header .container .gnb ul li a:hover::after {
    width: 100%;
    transition: all 0.25s;
  }
}
header .login ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
header .login ul li {
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
header .login ul li:first-child::after {
  content: "";
  width: 2px;
  height: 70%;
  background-color: #666666;
  display: block;
  position: absolute;
  right: -7px;
  top: 3px;
}

/*
 * --------------------------------------------------------------------
 * 메인 상단
 * --------------------------------------------------------------------
 */
.visual_slide .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}
.visual_slide .container .title__container {
  position: relative;
  top: 80px;
  z-index: 100;
}
.visual_slide .swiper_slider {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  background-color: #000;
  position: relative;
  top: -60px;
}
.visual_slide .swiper_slider img {
  width: 100%;
}
.visual_slide .swiper_slider .swiper-pagination {
  bottom: 24px;
}
.visual_slide .swiper_slider .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  background: transparent;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 0;
}
.visual_slide .swiper_slider .swiper-pagination-bullet-active {
  width: 50px;
  background: #fff;
}
.visual_slide .title1 {
  color: #303030;
  font-family: "Pretendard";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.visual_slide .title2.title {
  color: #303030;
}
.visual_slide .title {
  color: #fff;
  font-family: "GowunBatang";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}

/*
 * --------------------------------------------------------------------
 * 부고장 검색
 * --------------------------------------------------------------------
 */
.obituary-search {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.obituary-search .container .title1 {
  color: #303030;
  text-align: center;
  font-family: "GowunBatang";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.obituary-search .container .search-area {
  margin-top: 25px;
  text-align: center;
}
.obituary-search .container .search-area .search {
  width: 100%;
  max-width: 700px;
  height: 38px;
  padding: 0 14px;
  position: relative;
  display: inline-block;
}
.obituary-search .container .search-area .search div {
  display: flex;
  justify-content: space-between;
}
.obituary-search .container .search-area .search .icon-1 {
  width: 18px;
}
.obituary-search .container .search-area .search .icon-2 {
  width: 24px;
}
.obituary-search .container .search-area .search .input {
  padding: 0 6px;
}
.obituary-search .container .search-area .search .input input {
  color: #aaaaaa;
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  width: 100%;
  min-width: 360px;
}
.obituary-search .container .search-area .search::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #303030;
}

/*
 * --------------------------------------------------------------------
 * 부고장 안내
 * --------------------------------------------------------------------
 */
.obituary-guide {
  margin: 100px 0;
  background-color: #f2f4f5;
  padding: 54px;
}
.obituary-guide .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f4f5;
}
.obituary-guide .container h4 {
  font-size: 34px;
  font-family: "GowunBatang";
}
.obituary-guide .container .obituary-list ul {
  display: flex;
  -moz-column-gap: 78px;
       column-gap: 78px;
}
.obituary-guide .container .obituary-list ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  row-gap: 12px;
  cursor: pointer;
}
.obituary-guide .container .obituary-list ul li button .icon-box svg {
  width: 38px;
  height: 38px;
}
.obituary-guide .container .obituary-list ul li button p {
  font-size: 15px;
  display: block;
  font-weight: bold;
  font-family: "Pretendard";
}

/*
 * --------------------------------------------------------------------
 * 메인 하단 컨텐츠
 * --------------------------------------------------------------------
 */
.main-bottom {
  margin-bottom: 100px;
}
.main-bottom .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main-bottom .container .contant_list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main-bottom .container .contant_list h4 {
  font-size: 32px;
  font-family: "GowunBatang";
  margin-bottom: 24px;
  color: #000;
}
.main-bottom .container .contant_list .bage {
  background-color: #18864a;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 32px;
  color: #fff;
  margin-bottom: 14px;
}
.main-bottom .container .contant_list .board_contant {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main-bottom .container .contant_list .board_contant button {
  font-size: 15px;
  font-family: "Pretendard";
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}
.main-bottom .container .contant_list .board_contant button i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-bottom .container .contant_list .online {
  width: 33.333%;
  background-image: url(../../assets/imges/online_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 48px;
}
.main-bottom .container .contant_list .online .contant h4 {
  color: #fff;
}
.main-bottom .container .contant_list .online .contant p {
  color: #fff;
  margin-bottom: 32px;
  line-height: 23px;
  font-size: 16px;
  font-weight: 300;
}
.main-bottom .container .contant_list .online .contant button {
  background: #fff;
  color: #000;
  border: none;
  padding: 18px 38px;
  border: none;
  border-radius: 32px;
  font-size: 14px;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-weight: bold;
  font-family: "Pretendard";
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-bottom .container .contant_list .online .contant button i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-bottom .container .contant_list .notice {
  width: 33.333%;
  background-color: #f2f4f5;
  padding: 72px 48px;
}
.main-bottom .container .contant_list .notice h4 {
  margin-bottom: 0;
}
.main-bottom .container .contant_list .notice .board_list ul {
  margin-top: 24px;
}
.main-bottom .container .contant_list .notice .board_list ul li {
  border-top: 1px solid #dfe0e2;
  padding: 20px 0;
  line-height: 24px;
}
.main-bottom .container .contant_list .notice .board_list ul li p {
  font-size: 14px;
}
.main-bottom .container .contant_list .faq {
  width: 33.333%;
  background-color: #f2f4f5;
  padding: 72px 48px;
}
.main-bottom .container .contant_list .faq h4 {
  margin-bottom: 0;
}
.main-bottom .container .contant_list .faq .faq_list ul {
  margin-top: 24px;
}
.main-bottom .container .contant_list .faq .faq_list ul li {
  border-top: 1px solid #dfe0e2;
  padding: 20px 0;
  line-height: 24px;
}

/*
 * --------------------------------------------------------------------
 * 푸터 컨텐츠
 * --------------------------------------------------------------------
 */
footer {
  background-color: #2c2c2c;
  padding: 80px 0;
}
footer .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background: none;
  display: flex;
  justify-content: space-between;
}
footer .container .footer_flex {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
footer .container .footer_flex .footer__copylight span {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
  display: block;
}
footer .container .footer_flex .footer__copylight .info_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 12px 0;
}
footer .container .footer_flex .footer__copylight .info_wrap li {
  line-height: 24px;
}
footer .container .footer_flex .footer__copylight .cs_wrap {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  margin-bottom: 12px;
}
footer .container .footer_flex .footer__copylight .cs_wrap li {
  color: #cecece;
  position: relative;
}
footer .container .footer_flex .footer__copylight .cs_wrap li::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  background-color: #cecece;
  right: -10px;
  top: 2px;
}
footer .container .footer_flex .footer__copylight .cs_wrap li:last-child::after {
  display: none;
}
footer .container .footer_info ul {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
footer .container .footer_info ul li:first-child {
  position: relative;
}
footer .container .footer_info ul li:first-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  background-color: #cecece;
  right: -10px;
  top: 2px;
}
footer .container .footer_info ul li .bold {
  color: #cecece;
}

/*
 * --------------------------------------------------------------------
 * 미디어쿼리
 * --------------------------------------------------------------------
 */
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 100%;
  }
}
/* xxl */
@media (max-width: 1399.98px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1281px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  header .container {
    padding: 0 24px;
    height: 80px;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .container .gnb {
    position: absolute;
    right: -100%;
    width: 100%;
    top: 80px;
    z-index: 1000;
    height: 100vh;
    background-color: #fff;
    padding: 0 24px;
    transition: right 0.35s;
  }
  header .container .gnb.active {
    right: 0;
  }
  header .container .gnb ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    -moz-column-gap: 48px;
         column-gap: 48px;
    align-items: self-start;
  }
  header .container .gnb ul li {
    text-align: left;
    width: 100%;
    line-height: 42px;
  }
  header .container .gnb ul li a {
    font-size: 15px;
    font-weight: 600;
    display: block;
    position: relative;
  }
  header .container .login ul {
    display: flex;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  header .container .login ul li:first-child::after {
    display: none;
  }
  header .container .login ul li button {
    background: none;
  }
  .visual_slide {
    margin-left: 24px;
  }
  .visual_slide .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
  }
  .visual_slide .container .title__container {
    position: relative;
    top: 44px;
    z-index: 100;
  }
  .visual_slide .swiper_slider {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    background-color: #000;
    position: relative;
    top: -60px;
  }
  .visual_slide .swiper_slider .swiper-pagination {
    bottom: 24px;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    background: transparent;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 0;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet-active {
    width: 50px;
    background: #fff;
  }
  .visual_slide .title1 {
    color: #303030;
    font-family: "Pretendard";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 42px;
  }
  .visual_slide .title2.title {
    color: #303030;
  }
  .visual_slide .title {
    color: #fff;
    font-family: "GowunBatang";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
  }
  .obituary-guide {
    margin: 32px 0;
    background-color: #fff;
    padding: 24px;
  }
  .obituary-guide .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    row-gap: 48px;
  }
  .obituary-guide .container h4 {
    font-size: 34px;
    font-family: "GowunBatang";
  }
  .obituary-guide .container .obituary-list {
    width: 100%;
    max-width: 700px;
  }
  .obituary-guide .container .obituary-list ul {
    display: flex;
    -moz-column-gap: 78px;
         column-gap: 78px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    row-gap: 48px;
  }
  .obituary-guide .container .obituary-list ul li {
    width: calc(25% - 10px);
    display: flex;
    justify-content: center;
  }
  .obituary-guide .container .obituary-list ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
    row-gap: 12px;
    cursor: pointer;
  }
  .obituary-guide .container .obituary-list ul li button .icon-box svg {
    width: 38px;
    height: 38px;
  }
  .obituary-guide .container .obituary-list ul li button p {
    font-size: 15px;
    display: block;
    font-weight: bold;
    font-family: "Pretendard";
    white-space: nowrap;
  }
  .obituary-search {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
  }
  .obituary-search .container .title1 {
    color: #303030;
    text-align: center;
    font-family: "GowunBatang";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
  }
  .obituary-search .container .search-area {
    margin-top: 25px;
    text-align: center;
  }
  .obituary-search .container .search-area .search {
    width: 100%;
    max-width: 700px;
    height: 38px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
  }
  .obituary-search .container .search-area .search div {
    display: flex;
    justify-content: space-between;
  }
  .obituary-search .container .search-area .search .icon-1 {
    width: 18px;
  }
  .obituary-search .container .search-area .search .icon-2 {
    width: 24px;
  }
  .obituary-search .container .search-area .search::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #303030;
  }
  .main-bottom {
    margin-bottom: 100px;
  }
  .main-bottom .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .main-bottom .container .contant_list {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    padding: 0 24px;
  }
  .main-bottom .container .contant_list h4 {
    font-size: 32px;
    font-family: "GowunBatang";
    margin-bottom: 24px;
    color: #000;
  }
  .main-bottom .container .contant_list .bage {
    background-color: #18864a;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 32px;
    color: #fff;
    margin-bottom: 14px;
  }
  .main-bottom .container .contant_list .board_contant {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .main-bottom .container .contant_list .board_contant button {
    font-size: 15px;
    font-family: "Pretendard";
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
  }
  .main-bottom .container .contant_list .board_contant button i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-bottom .container .contant_list .online {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -o-object-fit: fill;
       object-fit: fill;
    padding: 48px;
    width: 100%;
    height: 520px;
  }
  .main-bottom .container .contant_list .online .contant h4 {
    color: #fff;
  }
  .main-bottom .container .contant_list .online .contant p {
    color: #fff;
    margin-bottom: 32px;
    line-height: 23px;
    font-size: 16px;
    font-weight: 300;
  }
  .main-bottom .container .contant_list .online .contant button {
    background: #fff;
    color: #000;
    border: none;
    padding: 18px 38px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    font-weight: bold;
    font-family: "Pretendard";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-bottom .container .contant_list .online .contant button i {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-bottom .container .contant_list .notice {
    width: 100%;
    background-color: #f2f4f5;
    padding: 48px;
  }
  .main-bottom .container .contant_list .notice h4 {
    margin-bottom: 0;
  }
  .main-bottom .container .contant_list .notice .board_list ul {
    margin-top: 24px;
  }
  .main-bottom .container .contant_list .notice .board_list ul li {
    border-top: 1px solid #dfe0e2;
    padding: 20px 0;
    line-height: 24px;
  }
  .main-bottom .container .contant_list .notice .board_list ul li p {
    font-size: 14px;
  }
  .main-bottom .container .contant_list .faq {
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 48px;
  }
  .main-bottom .container .contant_list .faq h4 {
    margin-bottom: 0;
  }
  .main-bottom .container .contant_list .faq .faq_list ul {
    margin-top: 24px;
  }
  .main-bottom .container .contant_list .faq .faq_list ul li {
    border-top: 1px solid #dfe0e2;
    padding: 20px 0;
    line-height: 24px;
  }
  footer {
    background-color: #2c2c2c;
    padding: 80px;
  }
  footer .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  footer .container .footer_flex {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 42px;
         column-gap: 42px;
  }
  footer .container .footer_flex .footer__copylight span {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    display: block;
  }
  footer .container .footer_flex .footer__copylight .info_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding: 12px 0;
  }
  footer .container .footer_flex .footer__copylight .info_wrap li {
    line-height: 24px;
  }
  footer .container .footer_flex .footer__copylight .cs_wrap {
    display: flex;
    -moz-column-gap: 6px;
         column-gap: 6px;
    margin-bottom: 12px;
  }
  footer .container .footer_flex .footer__copylight .cs_wrap li {
    color: #fff;
  }
  footer .container .footer_info ul {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
/* xl */
/* lg */
/* md */
@media (max-width: 769px) {
  .visual_slide {
    margin-left: 24px;
  }
  .visual_slide .container .title__container {
    position: relative;
    top: 24px;
    z-index: 100;
  }
  .visual_slide .swiper_slider {
    top: -50px;
  }
  .visual_slide .swiper_slider img {
    width: 100%;
    min-height: 320px;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet {
    width: 34px;
    height: 4px;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet-active {
    width: 34px;
  }
  .visual_slide .title1 {
    color: #303030;
    font-family: "Pretendard";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  .visual_slide .title {
    color: #fff;
    font-family: "GowunBatang";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
}
/* sm */
/* iphone SE */
@media (min-width: 375px) and (max-width: 575px) {
  .visual_slide {
    margin-left: 24px;
  }
  .visual_slide .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
  }
  .visual_slide .container .title__container {
    position: relative;
    top: 24px;
    z-index: 100;
  }
  .visual_slide .swiper_slider {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    background-color: #000;
    position: relative;
    top: -50px;
  }
  .visual_slide .swiper_slider img {
    height: 320px;
  }
  .visual_slide .swiper_slider .swiper-pagination {
    bottom: 24px;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    background: transparent;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 0;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet-active {
    width: 50px;
    background: #fff;
  }
  .visual_slide .title1 {
    color: #303030;
    font-family: "Pretendard";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  .visual_slide .title2.title {
    color: #303030;
  }
  .visual_slide .title {
    color: #fff;
    font-family: "GowunBatang";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
}
/* iphone SE */
@media (min-width: 375px) and (max-width: 575px) {
  .visual_slide {
    margin-left: 24px;
  }
  .visual_slide .container .title__container {
    position: relative;
    top: 24px;
    z-index: 100;
  }
  .visual_slide .swiper_slider {
    top: -50px;
  }
  .visual_slide .swiper_slider img {
    height: 320px;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet {
    width: 34px;
    height: 4px;
  }
  .visual_slide .swiper_slider .swiper-pagination-bullet-active {
    width: 34px;
  }
  .visual_slide .title1 {
    color: #303030;
    font-family: "Pretendard";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  .visual_slide .title {
    color: #fff;
    font-family: "GowunBatang";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .obituary-search {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .obituary-search .container .title1 {
    color: #303030;
    text-align: center;
    font-family: "GowunBatang";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
  }
  .obituary-search .container .search-area {
    margin-top: 25px;
    text-align: center;
  }
  .obituary-search .container .search-area .search {
    width: 100%;
    max-width: 700px;
    height: 38px;
    padding: 0 14px;
    position: relative;
    display: inline-block;
  }
  .obituary-search .container .search-area .search .search-input input {
    min-width: 240px;
    font-size: 14px;
  }
  .obituary-guide .container h4 {
    font-size: 24px;
    font-family: "GowunBatang";
  }
  .obituary-guide .container .obituary-list ul li {
    width: calc(50% - 24px);
  }
  .main-bottom {
    margin-bottom: 100px;
  }
  .main-bottom .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .main-bottom .container .contant_list {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    padding: 0 24px;
  }
  .main-bottom .container .contant_list h4 {
    font-size: 32px;
    font-family: "GowunBatang";
    margin-bottom: 24px;
    color: #000;
  }
  .main-bottom .container .contant_list .bage {
    background-color: #18864a;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 32px;
    color: #fff;
    margin-bottom: 14px;
    font-size: 14px;
  }
  .main-bottom .container .contant_list .board_contant {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .main-bottom .container .contant_list .board_contant button {
    font-size: 15px;
    font-family: "Pretendard";
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
  }
  .main-bottom .container .contant_list .board_contant button i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-bottom .container .contant_list .online {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -o-object-fit: fill;
       object-fit: fill;
    padding: 32px;
    width: 100%;
    height: 520px;
  }
  .main-bottom .container .contant_list .online .contant h4 {
    color: #fff;
    font-size: 26px;
  }
  .main-bottom .container .contant_list .online .contant p {
    color: #fff;
    margin-bottom: 32px;
    line-height: 23px;
    font-size: 16px;
    font-weight: 300;
  }
  .main-bottom .container .contant_list .online .contant button {
    background: #fff;
    color: #000;
    border: none;
    padding: 18px 38px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    font-weight: bold;
    font-family: "Pretendard";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-bottom .container .contant_list .online .contant button i {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-bottom .container .contant_list .notice {
    width: 100%;
    background-color: #f2f4f5;
    padding: 32px;
  }
  .main-bottom .container .contant_list .notice h4 {
    margin-bottom: 0;
    font-size: 26px;
  }
  .main-bottom .container .contant_list .notice .board_list ul {
    margin-top: 12px;
  }
  .main-bottom .container .contant_list .notice .board_list ul li {
    border-top: 1px solid #dfe0e2;
    padding: 16px 0;
    line-height: 24px;
    font-size: 14px;
  }
  .main-bottom .container .contant_list .notice .board_list ul li p {
    font-size: 14px;
  }
  .main-bottom .container .contant_list .faq {
    width: 100%;
    background-color: #fff;
    padding: 32px;
    border: 1px solid #eee;
  }
  .main-bottom .container .contant_list .faq h4 {
    margin-bottom: 0;
    font-size: 26px;
  }
  .main-bottom .container .contant_list .faq .faq_list ul {
    margin-top: 24px;
  }
  .main-bottom .container .contant_list .faq .faq_list ul li {
    border-top: 1px solid #dfe0e2;
    padding: 16px 0;
    line-height: 24px;
    font-size: 14px;
  }
  footer {
    background-color: #2c2c2c;
    padding: 48px 32px;
  }
  footer .container .footer_logo {
    margin-bottom: 24px;
  }
  footer .container .footer_flex {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 42px;
         column-gap: 42px;
  }
  footer .container .footer_flex .footer__copylight span {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    display: none;
  }
  footer .container .footer_flex .footer__copylight .info_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding: 6px 0;
  }
  footer .container .footer_flex .footer__copylight .info_wrap li {
    line-height: 24px;
    font-size: 14px;
  }
  footer .container .footer_flex .footer__copylight .cs_wrap {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 18px;
         column-gap: 18px;
    margin-bottom: 12px;
  }
  footer .container .footer_flex .footer__copylight .cs_wrap li {
    color: #cecece;
    position: relative;
    line-height: 24px;
    font-size: 14px;
  }
  footer .container .footer_flex .footer__copylight .cs_wrap li::after {
    display: none;
  }
  footer .container .footer_flex .footer__copylight .cs_wrap li:first-child::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 14px;
    background-color: #cecece;
    right: -10px;
    top: 5px;
  }
  footer .container .footer_info ul {
    display: flex;
    -moz-column-gap: 18px;
         column-gap: 18px;
    margin-bottom: 24px;
  }
  footer .container .footer_info ul li {
    font-size: 14px;
  }
  footer .container .footer_info ul li .bold {
    color: #cecece;
  }
}/*# sourceMappingURL=style.css.map */